* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  display: flex;
  background: #4361ff;
  color: #000;
}

.container {
  display: flex;
  height: 100vh;
}

/* Dashboard */
.dashboard {
  background: #4361ff;
  padding: 30px;
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 20px;
  height: 100vh;
}

.coluna-esquerda {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Cards */
.cards,
.fatura {
  background: white;
  border-radius: 16px;
  padding: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}

.fatura {
  background: white;
  border-radius: 16px;
  padding: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}

.cards h2,
.fatura h2,
.grafico h2 {
  margin: 0;
  font-size: 19px;
  color: #333;
}

.grafico {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grafico button.add-card {
  margin-top: 15px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-item img {
  width: 40px;
  height: auto;
}

.add-card {
  border: 2px dashed #407bff;
  background: none;
  color: #407bff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, color 0.3s;
}
.remove-card {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff4c4c;
  font-size: 18px;
  margin-left: 10px;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-item p {
  margin: 0;
  flex: 1;
  text-align: center;
}

/* Fatura */
.fatura-info p {
  margin: 4px 0;
}

.fatura-info .atraso {
  color: red;
  font-size: 19px;
}
.fatura-info .emdia {
  color:  green;
  font-size: 19px;
}

.fatura-info .status {
  font-size: 19px;
}

/* Gráfico */
canvas {
  width: 100% !important;
  height: 220px !important;
}
