@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
}

#logo{
    width: 110px;
    height: 90px;
    font-size: 2rem;
    color: #4361ff;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 5vh;
}

.sidebar{
    background-color: #f4f4f4;
    position:fixed;
    top:0;
    left:0;
    min-width: 200px;
    max-width: 25%;
    width: 220px;
    height: 100%;     
}

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu a {
    background-color: none;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    text-decoration: none;
    color: #333;
}

.menu a:hover {
  background-color: #e0e0e0;
}

.menu .active {
   color: #4361ff;
   font-weight: bold;
}

main{
    background-color: #4361ff;
    min-height: 100vh;
    margin-left: 220px; 
    padding: 20px; 
}

.seleft{  /* Classe criada para auxiliar apenas no posicionamento da coleção dos selos e da foto de perfil */
    position: relative;
}

img{ /*tamanho dos selos*/
    width: 50px;
    height: 50px;
}

h2{
    padding: 1vh;
}

.colecao{     /*Bloque que engloba todos os elementos da coleção de selos.*/
    background-color: #f4f4f4;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5vh;
    color:#4361ff;
    width: 120vh;
    height: 33vh;
    position: relative;
    top: 5vh;
    margin-left: 5vh;
    border-radius: 3vh;
}

.selos{   /*Bloco azul que integra os selos*/
    background-color: #4361ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width:100vh;
    height:25vh;
    margin-left: 9vh;
    margin-bottom: 10vh;
    border-radius: 3vh;
}

.fpart{   /*Primeira fileira horizontal que contém os 5 primeiros selos*/
    display: flex;
    gap: 7vh;
}

.lpart{  /*Segunga fileira horizontal que contém os 5 selos final*/
    display: flex;
    gap: 7vh;
}

.perfil{  /*Bloco branco que contém o local para foto do usuário*/
    background-color: #f4f4f4;
    width: 33vh;
    height: 33vh;
    padding: 2vh;
    position: relative;
    left: 130vh;
    bottom: 28vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 3vh;
}

#user{ 
    width: 135px;
    height: 135px;
    margin-left: 5vh;
    border: 3px solid black;
    border-radius: 75px;
    padding: 3px;
}

figcaption{
    padding: 10px;
}

#editar{
    width: 4.5vh;
    height: 4.5vh;
    margin-left: 22vh;
}

form{
    background-color:  #f4f4f4;
    color:#4361ff;
    width: 159vh;
    height: 55vh;
    padding: 10vh;
    position: relative;
    left: 5vh;
    bottom: 25vh;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    font-weight:700;
}

.bloco1{
    display: flex;
    justify-content: space-evenly;
}

.nome{
    display: flex;
    flex-direction: column;
}

.idade{
    display: flex;
    flex-direction: column;
}

.tel{
    display: flex;
    flex-direction: column;
}

.bloco2{
    display: flex;
    justify-content:space-around;
}

.email{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-right: 12vh;
}

.biografia{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

input[type="text"]{
    border: 3.7px solid #4361ff;
    width: 60vh;
    height:5vh;
    border-radius: 0.8vh;
    padding: 2vh;
}
input[type="number"]{
    border: 3.7px solid #4361ff;
    width: 12vh;
    height: 5vh;
    border-radius: 0.8vh;
    padding: 2vh;
}

input[type="tel"]{
    border: 3.7px solid #4361ff;
    width: 55vh;
    height: 5vh;
    border-radius: 0.8vh;
    padding: 2vh;
}

input[type="email"]{
    border: 3.7px solid #4361ff;
    width: 60vh;
    height:5vh; 
    border-radius: 0.8vh;
    padding: 2vh;
}

input[type="password"]{
    border: 3.7px solid #4361ff;
    width: 60vh;
    height:5vh;
    border-radius: 0.8vh;
    padding: 1vh;
}

textarea{
    border: 3.7px solid #4361ff;
    width: 55vh;
    height: 24vh;
    border-radius: 0.8vh;
    padding: 2vh;
}

.localpSenha{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2.5vh;
    bottom: 18vh;
    padding-top: 15px;
}

#alternar{
    width: 3.5vh;
    height:3.5vh;
    position: relative;
    bottom: 4vh;
    left: 53vh;
}

#salvar{
    width: 10vh;
    height: 5vh;
    border: none;
    background-color: #4361ff;
    color: #f4f4f4;
    font-size: medium;
    border-radius: 1vh;
}
